<h1>Admin Dashboard</h1>
<div class="page-header">
<span>All categories</span>
      <a href="/admin/categories"><%= @category.length %></a>
    
      </div>

      <div>
    
      <span>All products</span>
      <a href="/admin/products"><%= @product.length %></a>
  

</div>
