<section class="orders-show">

  <div class="order-summary jumbotron">
    <h4>Your cart is empty!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
